
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/mydesign.cshtml";
}

@section header
{
    Manage State Here...
}
<style>
    #loadingDiv {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        background-color: #666;
        background-image: url('http://www.ifmo.ru/images/loader.gif');
        background-repeat: no-repeat;
        background-position: center;
        z-index: 10000000;
        opacity: 0.4;
        filter: alpha(opacity=40); /* For IE8 and earlier */
    }
</style>
@section menus
{
    <li class="">
        <a href="index.html">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> Dashboard </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="active open">
        <a href="index.html">
            <i class="menu-icon fa fa-cogs"></i>
            <span class="menu-text"> Manage State </span>
        </a>
        <b class="arrow"></b>
    </li>

}

<br />
<hr />
<div id="msg1" style="display:none;">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong><span id="msg"></span></strong>.  <span id="msgextra"></span>.
</div>

<div class="row">
    <div class="col-md-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-10">
                    <input type="text" id="txtStateName" height="43" placeholder="Enter State Name" class="col-md-8" />

                    &nbsp; &nbsp; &nbsp;
                    <button class="btn btn-info" id="btnSave" type="button">
                        <i class="ace-icon fa fa-check"></i>
                        Submit
                    </button>
                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="button" id="btnCancel">
                        <i class="ace-icon fa fa-undo"></i>
                        Reset
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="loadingDiv" style="display:none;"></div>


<script src="~/assets/jquery-1.10.2.js"></script>
<script>
    $(document).ready(function () {

        $('#btnSave').click(function () {

            var statename = $('#txtStateName').val();

            if (statename != '') {
                $('#loadingDiv').show();
                $.post('/ManageState/AddState', { sname: statename }, function (data) {
                    $('#loadingDiv').hide();
                    if (data)
                    {
                        $('#msg1').attr('class', 'alert alert-success alert-dismissible');
                        $('#msg').html('Success');
                        $('#msgextra').html('state info saved');                       
                        $('#txtStateName').val('');
                    }
                    else
                    {
                        $('#msg1').attr('class', 'alert alert-danger alert-dismissible');
                        $('#msg').html('Error');
                        $('#msgextra').html('state info not saved');
                    }
                    $("#msg1").fadeTo(4000, 500).slideUp(500, function () {
                        $("#msg1").slideUp(500);
                    });

                });

            }
            else {
                alert('please enter state name');
                $('#txtStateName').focus();
            }

        });


    });
</script>