
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/mydesign.cshtml";
}

@section header
{
    Manage State Here...
}

@section menus
{
    <li class="">
        <a href="index.html">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> Dashboard </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="active open">
        <a href="index.html">
            <i class="menu-icon fa fa-cogs"></i>
            <span class="menu-text"> Manage State </span>
        </a>

        <b class="arrow"></b>
    </li>

}
<h2>Index</h2>

